@import url("@/lib/css/index.css");
@import "tailwindcss";
@import "easymde/dist/easymde.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.app-content-width {
  box-sizing: border-box;
  width: 96vw;
  max-width: 96vw;
  margin-inline: auto;
}

/* 全てのページに適用 */
.app-content-width > * {
  width: 100%;
}

/* 管理者画面はレスポンシブ対応無し */
.admin-full-width {
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  padding-inline: var(--lk-size-lg);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

/* full HD */
@media (min-width: 1024px) {
  .app-content-width {
    width: 1010px;
    max-width: 1010px;
  }
}

/* WQHD */
@media (min-width: 1440px) {
  .app-content-width {
    width: 1152px;
    max-width: 1152px;
  }
}

/* 4k */
@media (min-width: 1600px) {
  .app-content-width {
    width: 1280px;
    max-width: 1280px;
  }
}

@media (max-width: 1024px) {
  [data-lk-component="grid"].posts-card-grid {
    grid-template-columns: 1fr !important;
  }

  /* 幅が狭いときは一行に一枚のみ配置 */
  .posts-card-item {
    width: 100vw !important;
    max-width: 570px !important;
    justify-self: center;
  }
}

.admin-editor-mde .editor-toolbar {
  border: 1px solid var(--lk-outlinevariant);
  border-bottom: 0;
  border-radius: var(--lk-size-sm) var(--lk-size-sm);
  background: var(--lk-surface);
}

.admin-editor-mde .CodeMirror .cm-header,
.admin-editor-mde .CodeMirror .cm-header-1,
.admin-editor-mde .CodeMirror .cm-header-2,
.admin-editor-mde .CodeMirror .cm-header-3,
.admin-editor-mde .CodeMirror .cm-header-4,
.admin-editor-mde .CodeMirror .cm-header-5,
.admin-editor-mde .CodeMirror .cm-header-6 {
  font-size: inherit;
  line-height: inherit;
}
